h1 {
    font-family:"Montserrat";
}

p {
    font-family:"Poppins";
}

.container{
    display:grid;
    grid-template-columns: 100px 100px 1fr;
    grid-template-rows: 100px 700px 50px;
    border: 2px solid yellow;
    grid-template-areas: 
        "a a a a a a a a"
        "b b c c c c c c"
        "d d d d d d d d";
}

.box{
    border: 2px solid blue;
}

.article{
    grid-area:a;
}