@import 'typefaces.css';
@import 'button-style.css';
@import 'navbar.css';
@import 'socialmedia.css';


#quote{
    color:gray;
    padding-right: 50px;
}

.container{
    display:grid;
    width:100%;
    height:100vh;
    grid-template-columns: 100px 100px 1fr;
    grid-template-rows: 100px 1fr 75px;
    grid-template-areas: 
        "a a a a a a a a"
        "b b c c c c c c"
        "d d d d d d d d";
}

.header{
    grid-area:a;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
}

.footer{
    grid-area:d;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;

    text-align: center;
    color:white;
    background: #3d3d3d;
    border-top: 1px solid;
    min-width: 500px;
    height: auto;
}

.content{
    grid-area:c;

    background: white;
    padding: 10px;
    margin-bottom: 20px;
}

.sidebar{
    grid-area:b;

    display:flex;
    flex-direction: column;
    line-height:200%;
    padding-left: 20px;
    padding-right: 20px;
}

button{
    margin-top:40px;
}

.nested{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:inherit;
    min-width: 300px;
}

/* .material-box{
    width:75%;
    height: p;
    margin: 15px;
    padding-left: 30px;
    padding-right: 40px;
    padding-bottom: 10px;
    text-align: left;
    background:#d3d3d2;
} */

.blogpost1{
    grid-area:post1;

    display: grid;
    grid-template-columns: 160px 100fr 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
    "ti pi pi"
    "tx tx tx";

    width:75%;
    /* height: p; */
    margin: 15px;
    padding-left: 30px;
    padding-right: 40px;
    padding-bottom: 10px;
    text-align: left;
    background:#d3d3d2;
}

    .card-title{
        grid-area: ti;

        width: 100%;
        height: auto;
    }

    .card-pic{
        grid-area: pi;

        justify-self: start;
        width: 70px;
        height: auto;
        border-radius: 100%;
        margin:15px;
    }

    .card-text{
        grid-area: tx;


    }

.blogpost2{
    width:75%;
    height: auto;
    margin: 15px;
    padding-left: 30px;
    padding-right: 40px;
    padding-bottom: 10px;
    text-align: left;
    background:#d3d3d2;
}

.blogpost3{
    grid-area:post;

    width:75%;
    height: auto;
    margin: 15px;
    padding-left: 30px;
    padding-right: 40px;
    padding-bottom: 10px;
    text-align: left;
    background:#d3d3d2;
}


@media(min-width:965px) and (max-width:1450px) {

    .nested{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 100px 100px 100px;
        grid-template-areas: 
        "post1 post1 post1 post1"
        "post1 post1 post1 post1"
        "post1 post1 post1 post1"
        "post1 post1 post1 post1"          
        "post2 post2 post3 post3"
        "post2 post2 post3 post3";
        justify-items: center;
        align-items: center;
        grid-gap: 20px;
    }
    .material-box{
        all:initial;
    }

    .blogpost1{
        grid-area:post1;
    
        display: grid;
        grid-template-columns: 160px 100fr 1fr;
        grid-template-rows: 100px 1fr;
        grid-template-areas:
        "ti pi pi"
        "tx tx tx";
    
        width: p;
        height: 100%;
        /* margin: 15px; */
        padding-left: 30px;
        padding-right: 30%;
        padding-bottom: 10px;
        justify-self: stretch;
        text-align: left;
        background:#d3d3d2;
    }
    
    .blogpost2{
      grid-area:post2;
      width: p;
      height: auto;
      padding-left: 30px;
      padding-right: 40px;
      padding-bottom: 10px;
      justify-self: stretch;
      text-align: left;
      background: #d3d3d2;
    }
    
    .blogpost3{
      grid-area:post3;
      width: p;
      height: auto;
      padding-left: 30px;
      padding-right: 40px;
      padding-bottom: 10px;
      justify-self: stretch;
      text-align: left;
      background: #d3d3d2;
    }
    }

    @media(min-width:1451px) {

        .nested{
            display:flex;
            flex: 1;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
        }
    }

    .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
      }
      
      /* Add a hover effect if you want */
      .fa:hover {
        opacity: 0.7;
      }
      
      /* Set a specific color for each brand */
      
      /* Facebook */
      .fa-facebook {
        background: #3B5998;
        color: white;
      }
      
      /* Twitter */
      .fa-twitter {
        background: #55ACEE;
        color: white;
      }